.header{
    width: 100%;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   padding: 2%;
   align-items: center;
}

img{
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    /* background-color: transparent; */
}

.contact h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.contact-container{
    width:100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
    border: solid;
    border-width: 2px;
}
.contacts-container{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.search-container{
    height: 8vh;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;

}
.search{
    width: 90%;
    height: 32px;
    /* margin: 1rem; */
    border-radius: 20px;
    padding: 0 1rem;
}

.contacts{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80vh;
    overflow: hidden;
    overflow-y: auto;
}

.contact{
    /* height: 10vh;
    display: flex;
    margin: 1px;
    border: solid;
    border-color: grey;
    border-radius: 2px;
    cursor: pointer; */
    display: flex;
    flex-wrap: wrap;
    height:10vh;
    /* margin-bottom: 0.5rem; */
    width: 100%;
    padding: 2%;
    border:1px solid #cfccc7;
    cursor: pointer;
}
::-webkit-scrollbar{
    display: none;
}

.selected{
    background-color: #c8c6c0;
}

/* @media screen and (min-width: 720px) and (max-width: 1080px) {
    h1{
        font-size: 10px;
    }
} */