

.chat-container{
    width: 100%;
    height: 90vh;
    margin: 40px 0px 0px 0px;
    /* width: 94vw;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 2.3rem;
    left: 2.6rem; */
    /* display: flex;
    flex-wrap: nowrap;
    max-width: 94vw;
    max-height: 90vh;
    justify-content: center ;
    align-items: center;
    align-content: center;
    margin: auto auto; */
    display: flex;
    
    border-style: solid;
    border-color: rgb(125, 144, 187);
    border-width: 10px;
    overflow: hidden;
    /* overflow-y: auto; */
}

.cntct{
    width: 30%;
}

.chat-cntnt{
    width: 70%;
}