.chat-content{
    width:100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
    border: solid;
    border-width: 2px;
}

.chat{
    width: 100%;
    height: 79%;
    /* overflow: auto; */
    overflow: hidden;
    overflow-y: auto;
}

.chat-header{
    width: 100%;
    height: 12%;
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}

.chat-header img{
    width: 4vw;
    height: 7.5vh;
    margin: 10px 10px;
}

.chat-header h1{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 16px; */
}

.chat-input-container{
    width: 100%;
    height: 8vh;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.chat-input{
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.message{
    border-radius: 7px;
    margin: 2rem 0;
    padding: 10px;
    font-size: 1.1rem;
}

.sent{
    width: 22vw;
    background-color: cyan;
    position: relative;
    left: 2%;
}

.recieved{
    width: 22vw;
    background-color: rgb(37, 69, 163);
    position: relative;
    left: 63%;
}

.icons{
    /* size: 35px; */
    font-size: 35px;
    cursor: pointer;
    /* margin-bottom: 6px; */
    /* position: relative; */
    /* left: 8%; */
    /* margin-left: 6px; */
}